[submodule "JWildfire"]
	path = JWildfire
	url = https://github.com/robertpelloni/JWildfire
[submodule "apophysis-j"]
	path = apophysis-j
	url = https://www.github.com/mebigfatguy/apophysis-j
[submodule "electricsheep"]
	path = electricsheep
	url = https://www.github.com/scottdraves/electricsheep
[submodule "geiss"]
	path = geiss
	url = https://www.github.com/geissomatik/geiss
[submodule "MilkDrop3"]
	path = MilkDrop3
	url = https://www.github.com/milkdrop2077/MilkDrop3
[submodule "projectm"]
	path = projectm
	url = https://www.github.com/projectM-visualizer/projectm
[submodule "BeatDrop"]
	path = BeatDrop
	url = https://www.github.com/OfficialIncubo/BeatDrop-Music-Visualizer
